@{
  Layout = "_Layout";
}

@model Factory.Models.Machine


<div class="row">
  <div class="col-6">
    <h2>Machine:<br/>@Model.Name</h2>
  </div>
  <div class="col-6">
    @if(Model.Engineers.Count == 0)
    {
      <h2>No Engineers are Licensed to work on this Machine</h2>
      <br/>
      <h3>@Html.ActionLink("+ first Engineer", "AddEngineer", "Engineers", new { id = Model.MachineId })</h3>
    }
    else
    {
      <h2>Licensed to be worked on by:</h2>
      @foreach(var join in Model.Engineers)
      {
        <h3>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId} )</h3>
        @using(Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Remove" class="btn btn-info">
        }
      }
      <br/>
      <h3>@Html.ActionLink("+ another Engineer", "AddEngineer", new { id = Model.MachineId })</h3>
    }
</div>
</div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <br/>
      <h3>@Html.ActionLink("Update Name", "Edit", new { id = Model.MachineId}) | @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</h3>
    </div>
    <div class="col-2"></div>
  </div>