@{
  Layout = "_Layout";
}

@using Factory.Models
@model List<Factory.Models.Engineer>

<div class="row pt-5">
  <div class="container col-6">
    @if (Model.Count == 0)
    {
      <h4>You need to hire some Engineers! None listed.</h4>
      <br/>
      <h4>@Html.ActionLink("+ your first Engineer", "Create", "Engineers")</h4>
    }
    else
    {
      <h3>@Html.ActionLink("Engineers:", "Index", "Engineers")</h3>
      <br/>
      @foreach(Engineer engineer in Model)
      {
        <h4>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId})</h4>
      }
      <br/>
      <h4>@Html.ActionLink("+ Engineer", "Create", "Engineers")</h4>

    }
  </div>
  <div class="container col-6">
      @if (@ViewBag.Machines.Count == 0)
      {
        <h4>You have no machines in the system.</h4>
        <br/>
        <h4>@Html.ActionLink("+ your first Machine", "Create", "Machines")</h4>
      }
      else
      {
        <h3>@Html.ActionLink("Machines:", "Index", "Machines")</h3>
        <br/>
        @foreach(Machine machine in @ViewBag.Machines)
        {
          <h4>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId})</h4>
        }
        <br/>
        <h4>@Html.ActionLink("+ Machine", "Create", "Machines")</h4>

      }
  </div>
</div>